extends layout

block content
  .navbar.navbar-inverse(role='navigation')
    .navbar-inner
      button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-responsive-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand.navbar-brand(href='#',style='color: #fff;') VMO
      .navbar-text AMAT Centura II System 5202
    .collapse.navbar-collapse.navbar-responsive-collapse
      ul.nav.navbar-nav.navbar-right.navbar-inverse
       li
         a#ddm1(style='color: #fff;',data-toggle='dropdown',data-target='#',href='#')
           span.glyphicon.glyphicon-download.white  
         ul.dropdown-menu(role='menu',aria-labelledby='ddm1')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Upload
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Download
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') View
       li
         a#ddm2(style='color: #fff;',href='javascript:history.go(0)')
           span.glyphicon.glyphicon-refresh.white  
       li
         a#ddm3(style='color: #fff;',data-toggle='dropdown',data-target='#',href='#')
           span.glyphicon.glyphicon-list.white  
         ul.dropdown-menu(role='menu',aria-labelledby='ddm3')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Login
           li.divider(role='presentation')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Monitor
       li
         img(style='margin-top: 15px;',src='img/abinition.png',height='20px',alt='Abinition',href='#')

  .marquee(ng-controller='Stream6Controller',style='background-color:red; color:white;')
     {{ Stream6Message }}

  .container-fluid
    ul#tabs.nav.nav-tabs(data-tabs='tabs')
      li.active
        a(href='#tab_console',data-toggle='tab') Console
      li
        a(href='#tab_operator',data-toggle='tab') Operator
      li
        a(href='#tab_engineer',data-toggle='tab') Engineer
      li
        a(href='#tab_gem',data-toggle='tab') GEM

    #vmo-tabs.tab-content
      #tab_console.tab-pane.active(ng-controller='ConsoleController')
        .container-fluid
          .row-fluid
            .col-sm-8.canvasWidth
              .container-fluid
                //canvas#videoCanvas(width='320',height='240')
                //canvas#videoCanvas(width='640',height='480')
                canvas#videoCanvas(style='border-style:solid; border-width:1px;')
                 p
                   | Please use a browser that supports the Canvas Element
            .col-sm-4
              .container
                #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse1') Sensors
                    #collapse1.panel-collapse.collapse.in
                      .panel-body
                        ul
                          li Current Step Number {{ step }}
                          li Maximum Step Time {{ time }}                          
                          li Chamber Pressure {{ chamber }} 
                          li RF {{ rf }} 
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse3') Sequence
                    #collapse3.panel-collapse.collapse
                      .panel-body
                        ul
                          li Requested Recipe {{ name }}
                          li LoadLock {{ loadlock }}
                          li PPID {{ id }}
                          li Helium Pressure {{ helium }}                          
                          li ESC Chunking Voltage {{ voltage }} 
                          li Expected Cathode Temp {{ temp }}                        
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse4') WIP
                    #collapse4.panel-collapse.collapse
                      .panel-body
                        ul
                          li Lotid {{ lotid }}
                          li Stage {{ stage }}                          
                          li Recipe {{ recipe }}  
      #tab_operator.tab-pane
        p Operator functions
      #tab_engineer.tab-pane
        p Engineering functions
      #tab_gem.tab-pane
        | The GEM interface to the equipment
        h5 Categories
        .container(ng-controller='GemController')
          p {{ GemMessage }}
        ul 
         li Tool status
         li Tool Variables
           ul
             li Constants
             li Sensor values
         li Alarms
         li Event Data
         li Recipe Management   

  //.container
  //  .ng-view

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js')
  script(src='//code.jquery.com/jquery.js')
  script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')
  script(src='js/jquery.marquee.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/jsmpg.js',type='text/javascript')
  script(src='js/controllers.js')
  script(src='js/services.js')
  //script(src='js/filters.js')
  //script(src='js/directives.js')
  script(src='/socket.io/socket.io.js',type='text/javascript')
  //script(type='text/javascript').
  //  //var socket = io.connect('http://108.241.35.53');
  //  var socket = io.connect('http://192.168.11.103');
  //  socket.on('message', function (data) {
  //    //console.log(data);
  //    socket.emit('message', { my: 'data' });
  //  });
  script(type='text/javascript').
    jQuery(document).ready(function ($) {
      $('.marquee').marquee({  
        //speed in milliseconds of the marquee  
        speed: 15000,  
        //gap in pixels between the tickers  
        gap: 50,  
        //gap in pixels between the tickers  
        delayBeforeStart: 0,  
        //'left' or 'right'  
        direction: 'left'  
      });  
      // Show loading notice
      var canvas = document.getElementById('videoCanvas');
      var ctx = canvas.getContext('2d');
      ctx.fillStyle = '#444';
      ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);
      // Setup the WebSocket connection and start the player
      var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
      var client ;
      if ( isMobile ) 
        client = new WebSocket( 'ws://192.168.11.103:8084/' );
        //client = new WebSocket( 'ws://108.241.35.53:8084/' );
      else
        client = new WebSocket( 'ws://192.168.11.103:8083/' );
        //client = new WebSocket( 'ws://108.241.35.53:8083/' );
      var player = new jsmpeg(client, {canvas:canvas});
    });