extends layout

block content
  .navbar.navbar-inverse(role='navigation')
    .navbar-inner
      button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-responsive-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand.navbar-brand(href='#',style='color: #fff;') VMO
      .navbar-text(style="font-size:14pt") Balzer  
    .collapse.navbar-collapse.navbar-responsive-collapse
      ul.nav.navbar-nav.navbar-right.navbar-inverse
       li
         a#ddm1(style='color: #fff;',data-toggle='dropdown',data-target='#',href='#')
           span.glyphicon.glyphicon-download.white  
         ul.dropdown-menu(role='menu',aria-labelledby='ddm1')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Upload
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Download
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') View
       li
         a#ddm2(style='color: #fff;',href='javascript:history.go(0)')
           span.glyphicon.glyphicon-refresh.white  
       li
         a#ddm3(style='color: #fff;',data-toggle='dropdown',data-target='#',href='#')
           span.glyphicon.glyphicon-list.white  
         ul.dropdown-menu(role='menu',aria-labelledby='ddm3')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Login
           li.divider(role='presentation')
           li(role='presentation')
             a(role='menuitem',tabindex='-1',href='#') Monitor
       li
         img(style='margin-top: 15px;',src='img/abinition.png',height='20px',alt='Abinition',href='#')

  .marquee(ng-controller='Stream6Controller',style='background-color:red; color:white;')
     {{ Stream6Message }}

  .container-fluid
    ul#tabs.nav.nav-tabs(data-tabs='tabs')
      li.active
        a(href='#tab_console',data-toggle='tab') Console
      li
        a(href='#tab_operator',data-toggle='tab') Operator
      li
        a(href='#tab_engineer',data-toggle='tab') Engineer
      li
        a(href='#tab_gem',data-toggle='tab') GEM

    #vmo-tabs.tab-content
      #tab_console.tab-pane.active(ng-controller='ChromeController')
        .container-fluid
          .row-fluid
            .col-sm-8.canvasWidth
              .container-fluid#videoContainer(ng-controller='ConsoleController',ng-click='')
                //canvas#videoCanvas(width='320',height='240')
                //canvas#videoCanvas(width='640',height='480')
                canvas#videoCanvas(style='border-style:solid; border-width:1px;')
                  p
                    | Please use a browser that supports the Canvas Element, like
                    a(href="http://www.google.com/chrome") Chrome,
                    a(href="http://www.mozilla.com/firefox/") Firefox,
                    a(href="http://www.apple.com/safari/") Safari
                    | or Internet Explorer 10
            .col-sm-4
              .container
                #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse1') Control
                    #collapse1.panel-collapse.collapse.in
                      .panel-body
                        form.form-horizontal(role="form")
                          .form-group
                            label.col-sm-2.control-label(for='firstStep') First Step ({{ firstStep }})
                            .col-sm-1
                              input.input-sm.form-control#firstStep(type="text",size="1",ng-model="form.firstStep") 
                          .form-group
                            label.col-sm-2.control-label(for='lastStep') Last Step ({{ lastStep }})
                            .col-sm-1
                              input.input-sm.form-control#lastStep(type="text",size="1",ng-model="form.lastStep")                         
                          .form-group
                            label.col-sm-2.control-label(for='step') Step No. ({{ step }})
                            .col-sm-1
                              input.input-sm.form-control#step(type="text",size="1",ng-model="form.step")  
                          button.btn.btn-default(type="submit",ng-click="submitPost()") Set
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse2') Recipe
                    #collapse2.panel-collapse.collapse
                      .panel-body
                        form.form-horizontal(role="form")
                          .form-group
                            label.col-sm-2.control-label(for='firstStep') Process Type
                            .col-sm-3
                              input.input-sm.form-control#firstStep(type="text",size="10") 
                          .form-group
                            label.col-sm-2.control-label(for='lastStep') Periods
                            .col-sm-1
                              input.input-sm.form-control#lastStep(type="text",size="1")                         
                          .form-group
                            label.col-sm-2.control-label(for='step') Set
                            .col-sm-1
                              input.input-sm.form-control#step(type="text",size="1")
                          button.btn.btn-default(type="submit") Set
                              
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse3') Sequence
                    #collapse3.panel-collapse.collapse
                      .panel-body
                        form.form-inline(role="form")
                          table.table-condensed.form-group(style='font-size: 8pt;')
                            thead
                              tr
                                th
                                  | State
                                th
                                  | Step
                                th
                                  | Process Type
                                th
                                  | Periods
                                th
                                  | Set
                                th
                                  | Description
                            tbody
                              tr
                                td
                                  |  
                                td
                                  | 1          
                                td
                                  | {{ process1 }}    
                                td
                                  | {{ periods1 }}    
                                td
                                  | {{ set1 }}
                                td
                                  | {{ description1 }}
                              tr
                                td
                                  |  
                                td
                                  | 2      
                                td
                                  | {{ process2 }}    
                                td
                                  | {{ periods2 }}    
                                td
                                  | {{ set2 }}    
                                td
                                  | {{ description2 }}
                              tr
                                td
                                  |  
                                td
                                  | 3  
                                td
                                  | {{ process3 }}    
                                td
                                  | {{ periods3 }}    
                                td
                                  | {{ set3 }}    
                                td
                                  | {{ description3 }}
                              tr
                                td
                                  |  
                                td
                                  | 4          
                                td
                                  | {{ process4 }}    
                                td
                                  | {{ periods4 }}    
                                td
                                  | {{ set4 }}    
                                td
                                  | {{ description4 }}
                              tr
                                td
                                  |  
                                td
                                  | 5          
                                td
                                  | {{ process5 }}    
                                td
                                  | {{ periods5 }}    
                                td
                                  | {{ set5 }}    
                                td
                                  | {{ description5 }}
                              tr
                                td
                                  |  
                                td
                                  | 6          
                                td
                                  | {{ process6 }}    
                                td
                                  | {{ periods6 }}    
                                td
                                  | {{ set6 }}     
                                td
                                  | {{ description6 }}
                              tr
                                td
                                  |  
                                td
                                  | 7          
                                td
                                  | {{ process7 }}    
                                td
                                  | {{ periods7 }}    
                                td
                                  | {{ set7 }}    
                                td
                                  | {{ description7 }}
                              tr
                                td
                                  |  
                                td
                                  | 8          
                                td
                                  | {{ process8 }}    
                                td
                                  | {{ periods8 }}    
                                td
                                  | {{ set8 }}    
                                td
                                  | {{ description8 }}
                              tr
                                td
                                  |  
                                td
                                  | 9          
                                td
                                  | {{ process9 }}    
                                td
                                  | {{ periods9 }}    
                                td
                                  | {{ set9 }}     
                                td
                                  | {{ description9 }}
                              tr
                                td
                                  |  
                                td
                                  | 10          
                                td
                                  | {{ process10 }}    
                                td
                                  | {{ periods10 }}    
                                td
                                  | {{ set10 }}                           
                                td
                                  | {{ description10 }}
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',data-parent='#accordion',href='#collapse4') WIP
                    #collapse4.panel-collapse.collapse
                      .panel-body
                        ul
                          li Lotid {{ lotid }}
                          li Stage {{ stage }}                          
                          li Recipe {{ recipe }}  
      #tab_operator.tab-pane
        p Operator functions
      #tab_engineer.tab-pane
        p Engineering functions
      #tab_gem.tab-pane
        | The GEM interface to the equipment
        h5 Categories
        .container(ng-controller='GemController')
          p {{ GemMessage }}
        ul 
         li Tool status
         li Tool Variables
           ul
             li Constants
             li Sensor values
         li Alarms
         li Event Data
         li Recipe Management   

  .container(ng-controller='IndexController')
    .ng-view

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js')
  script(src='//code.jquery.com/jquery.js')
  script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')
  script(src='js/jquery.marquee.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/jsmpg.js',type='text/javascript')
  script(src='js/controllers.js')
  script(src='js/services.js')
  //script(src='js/filters.js')
  //script(src='js/directives.js')
  script(src='/socket.io/socket.io.js',type='text/javascript')
  script(type='text/javascript').
    jQuery(document).ready(function ($) {
      $('.marquee').marquee({  
        //speed in milliseconds of the marquee  
        speed: 15000,  
        //gap in pixels between the tickers  
        gap: 50,  
        //gap in pixels between the tickers  
        delayBeforeStart: 0,  
        //'left' or 'right'  
        direction: 'left'  
      });  
      // Show loading notice
      var canvas = document.getElementById('videoCanvas');
      var ctx = canvas.getContext('2d');
      ctx.fillStyle = '#444';
      ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);
      // Setup the WebSocket connection and start the player
      var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
      var client ;
      if ( isMobile ) 
        client = new WebSocket( 'ws://192.168.11.103:8084/' );
        //client = new WebSocket( 'ws://vmoperator.com:8084/' );
        //client = new WebSocket( 'ws://securebob.com/' );
      else
        client = new WebSocket( 'ws://192.168.11.103:8083/' );
        //client = new WebSocket( 'ws://vmoperator.com:8083/' );
        //client = new WebSocket( 'ws://beyondmetaphysical.com/' );
        var player = new jsmpeg(client, {canvas:canvas});
    });